@import url('https://fonts.googleapis.com/css?family=Lobster');

#logo {
	vertical-align:middle;
}
.navbar-brand span {
	font-size:2rem;
	font-family: Lobster;
	line-height:1.2;
	font-weight: 200;
	display:inline-block;
	vertical-align:middle;
	padding:0 0 0 15px;
	text-shadow:
      -1px 0px 0 #000,
      1px 0px 0 #000,
      -1px 0px 0 #000,
      1px 0px 0 #000;
}

.navbar-brand b {
	display:block;
	font-size:50%;
	line-height:1;
}

.navbar {
	background-color: #811237;
	/* font-family: 'Lato', sans-serif;  */
}

.navbar-nav {
	margin-left:auto;
	background-color: #811237;
}

.nav-item {
	margin-left: 50px;
	margin-right: 40px;
	padding-left: 30px;
	padding-right:30px;
}

.navbtn {
	background-color: #811237;
	color:white;
}

.navbtn:active{
	background-color: wheat;
	color: #811237;
}

.normal {
	color: rgb(236, 205, 205);
  }
  
.active {
	color: white;
	font-weight: bold;
  }

