@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  padding: 0;
  font-family: Lato-bold;
  color: white;
  text-shadow:
      -1px -.5px 0 #000,
      1px -.5px 0 #000,
      -1px .5px 0 #000,
      1px .5px 0 #000;
}

.form {
  margin: 0;
  padding: 0;
  font-family: Lato-bold;
  color: #000;
}

.main {
  background: 
	url("./images/coronado-bridge.jpg");
	background-repeat: no-repeat;
	background-position: center;
    	background-size: cover; 	
    	height: 1000px;  
    	max-height: 1100px;  
    	/* overflow-y: scroll;  */
    	width: 100%;
    /* font-family:'Lato', sans-serif; */
}
