.row-div {
	height: 1000px;  
	max-height: 1100px;  
  /* overflow-y: scroll;  */
	width: auto;
  font-size:20px;
  overflow-x: hidden;
	/* font-family:'Lato', sans-serif; */
}

.SearchForm {
	font-family: Lato-bold;
  color: white;
  text-shadow:
      -1px -.5px 0 #000,
      1px -.5px 0 #000,
      -1px .5px 0 #000,
      1px .5px 0 #000;
}

.search-container {
	margin-top: 10px;
}

.search-form{
	color: white;
	/* text-shadow: 1px 1px 1px black; */
	  color: white;
  text-shadow:
      -1px -.5px 0 #000,
      1px -.5px 0 #000,
      -1px .5px 0 #000,
      1px .5px 0 #000;
}

.col-form-label {
	font-weight: bold;
	font-size:22px;
}

.form-check-label {
  font-weight: bold;
}

.col-form-label {
  font-style: bold !important;
}