@media all and (min-width: 480px) {
	.Signup {
		padding: 60px 0;
		font-family:'Lato';
	}
  
	.Signup form {
	  margin: 0 auto;
	  max-width: 320px;
	}

	.confirm-btn {
		margin: 0, auto;
		background-color: #6b092a;
		color: white;
	}
 
	#ErrorMsg {
		color: red;
	}
	
	/* .signup-image {
		background: 
			url("%PUBLIC_URL%/images/lajolla-cove.jpg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover; 	
	} */

  }
  
