.row-div {
	height: 900px;  
	max-height: 900px;  
  overflow-y: scroll;  
	width: 100%;
}

#content {
	height:100vh;	  
	font-family: 'Lato';
}

.result-image {
  background: 
		url("/images/coronado-bridge.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover; 	
}

#action-id {
	margin: 10px;
}





