.row-div {
	height: 900px;  
	max-height: 1200px;  
  	overflow-y: scroll !important;   
	width: 100%;
	/* overflow: scroll-y; */
	overflow-x: hidden !important;
}

html {
  overflow:   scroll-y;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#content {
	height:100vh;	
	font-family: 'Lato';
}

.main {
  background: 
		url("../../images/coronado-bridge.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover; 	
}

#action-id {
	margin: 10px;
}





