.row-div {
	height: auto;  
	max-height: 1100px;   
  overflow-y: scroll;   
	width: 100%;
	overflow: scroll;
}

html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#content {
	height:100vh;	
	font-family: 'Lato';
}

.main {
  background: 
		url("../../images/delmar.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover; 	
}

#action-id {
	margin: 10px;
}





