@media all and (min-width: 480px) {
	.Login {
		padding: 60px 0;
		font-family:'Lato';
	}
  
	.Login form {
	  margin: 0 auto;
	  max-width: 320px;
	}

	.confirm-btn {
		margin: 0, auto;
		background-color: #6b092a;
		color: white;
	}

	#ErrorMsg {
		color: red;
	}

  
  .fill {
		background-size: cover;
		height: 70%;
		overflow: hidden;
	}
}
